
  
  .o-main {
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
   
  }
  
  .c-rocket {
    width: 400px;
  }
  
  .c-rocket__flame {
    transform-origin: 20% 20%;
  }
  