////////////////////////////////////////
// Colors
////////////////////////////////////////

$primary:    #003247;
$secondary:  #8197a6;
$success:    #00ae9d;
$info:       #335e6f;
$warning:    #fbab18;
$danger:     #ed1b2f;
$light:      #e8e8e4;



@import "../bootstrap/scss/bootstrap"

