/* @font-face {
  font-family: Notes;
  src: url('./fonts/NotesEsaBol.otf'), 
  url('./fonts/NotesEsaBolIta.otf'), 
  url('./fonts/NotesEsaReg'),
  url('./fonts/NotesEsaRegIta.otf');
} */

body {
    background-color: rgb(0, 50, 71);
  }
  
  body section{
    
    min-height: 90vmin;
  }
  .container-fluid
{
    margin: 0 !important;
    padding: 0 !important;
}
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  /* body {
    background-color: rgb(60, 50, 71);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }*/
  
  body .angles {
    background: linear-gradient(to right, #a6afc0 2px, transparent 2px) 0 0, linear-gradient(to bottom, #a6afc0 2px, transparent 2px) 0 0, linear-gradient(to left, #a6afc0 2px, transparent 2px) 100% 0, linear-gradient(to bottom, #a6afc0 2px, transparent 2px) 100% 0, linear-gradient(to left, #a6afc0 2px, transparent 2px) 100% 100%, linear-gradient(to top, #a6afc0 2px, transparent 2px) 100% 100%, linear-gradient(to right, #a6afc0 2px, transparent 2px) 0 100%, linear-gradient(to top, #a6afc0 2px, transparent 2px) 0 100%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    transition: background-size 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  
  .angles:hover {
    background-size: 40px 40px;
  }
  .carousel-indicators{
    transform: translateY(50px);
  } 
  
  section .card{
    width: 330px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
  }
  
  section .card:hover{
    transform: translateY(-35px);
    /* background-color: rgba(0, 50, 71 ,0.5); */
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    /* color: white; */
  }
  
  section .card img{
    width: 330px;
    height: 220px;
  }
  
  
  section .card h4{
    font-weight: 600;
  }
  
  section.card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
  }
  
  section .card a {
    font-weight: 500;
    text-decoration: none;
    
  }

  .count {
    height: 30px;
    width: 50px;
    background-color: white;
    color: black;
    padding: 0;
  }